# Dependencies for Forgotten Knowledge Tracker

flask
psutil 
pywin32 
pytesseract
pillow 
opencv-python
scikit-learn 
networkx 
matplotlib
numpy
scipy
sounddevice
mediapipe
networkx
sentence-transformers