flask
psutil
pywin32
pytesseract
pillow
opencv-python
scikit-learn
networkx
matplotlib
numpy
scipy
sounddevice
mediapipe
sentence-transformers
sqlalchemy
cryptography
mss
librosa
keybert
spacy
streamlit
plotly
xgboost
pynput
plyer
