# Dependencies for Forgotten Knowledge Tracker

flask
psutil 
pywin32 
pytesseract
pillow 
opencv-python
scikit-learn 
networkx 
matplotlib
numpy
scipy
sounddevice
mediapipe
networkx
sentence-transformers
sqlalchemy cryptography mss librosa keybert spacy streamlit plotly matplotlib xgboost && python -m spacy download en_core_web_sm
