@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-fkt-base text-fkt-text-muted font-sans;
    margin: 0;
    min-height: 100vh;
  }
  
  ::selection {
    @apply bg-fkt-accent text-fkt-base;
  }
  
  /* Hard reset on border radius */
  * {
    border-radius: 0 !important;
  }
}
